/*tipografia header nombre
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
</style>
*/

/* tipografia header descipricion
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
</style>
*/

html,

body{
    height: 100%;
    background-color: rgb(106, 100, 100);
}

.image_1{
    width: 200px;
    height: 200px;
    background-color: tomato;
    border: solid 5px white;
    border-radius: 50%;
    background-image:url(imagenes/niñabuena.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; text-align: center;
    
}
h1, a{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

div{
    background-color:rgb(173, 173,173);
    display: block;
}


