html,body{
    height:100%;
  }

body{
    height: 100%;
}
  
.grid{
    display: flex;
    flex-wrap: wrap;
    
}

.grid__cell-100{
    background-color: olive;
    flex: 0 0 100%;
}
  
 .grid__cell-15{
     background-color: pink;
     flex:0 0 15%;

 }

 .grid__cell-35{
     background-color: yellow;
     flex: 0 0 35%;
 }

@media screen and (max-width: 600px) {
    
.grid__cell-100{
    background-color: olive;
    flex: 100%;
   
}
  
 .grid__cell-15{
     background-color: pink;
     flex: 100%;
     

 }

 .grid__cell-35{
     background-color: yellow;
     flex: 100%;
    
 }
    
[class^="grid__cell"]{
    margin: 8px 4px; 
}